alembic
aniso8601
attrs
bcrypt
blinker
click
Faker
Flask==2.2.5
Flask-Bcrypt
Flask-Cors==4.0.0
Flask-JWT-Extended
Flask-Migrate
Flask-RESTful
flask-restx
Flask-SQLAlchemy==3.0.2
flask_mail
flask_login
greenlet
gunicorn
importlib-resources
itsdangerous
Jinja2
jsonschema
Mako
MarkupSafe
packaging
PyJWT
pyrsistent
python-dateutil
passlib
pytz
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
Werkzeug
marshmallow
wtforms